# Virtual environment
.venv/

# Python cache files
__pycache__/
*.py[cod]

# Flask / local environment files
.env

# Uploaded recipe images
static/uploads/recipe_images/*
!static/uploads/recipe_images/.gitkeep

# SQLite database
recipes.db

# OS/editor files
.DS_Store
Thumbs.db
.vscode/